.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 15px;
    ion-list {
        height: 200px;
    }
    .inlineText {
        white-space: pre-wrap;
        height: 200px;
        word-wrap: break-word;
        margin-top: 0px;
    }
}

ion-card {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: visible;
    position: relative;
    padding-top: 20px;
    .img-wrapper {
        text-align: center;
        img {
            border-radius: 20%;
        }
    }

  }

  .jsonFormatter {
    width: 80%;
    margin: 10px;
    padding: 10px;
    background: #eee4e4;
    border-radius: 10px;
    ion-button {

    }
  }