<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
 -->
<ion-content>
  <div class="container"  *ngIf="(auth.isAuthenticated$ | async) === false">
    <ng-container >
      <div class="login">
        <div class="title">Sample Auth0 Integration</div>
        <ion-img src="./../../assets/logo.png" alt="home Logo"></ion-img>
        <ion-button expand="block" (click)="login()">Login</ion-button>
      </div>
    </ng-container>
  </div>
  <ng-container class="container" *ngIf="loading" >
    <ion-loading message="Loading..."  spinner="circles"></ion-loading>
  </ng-container>
 
</ion-content>
